body {
    margin:0;
    padding:0;
    font-family:sans-serif; 
    font-size:16px;
    background-color:#f2ffee;
}

button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; /* Padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    box-shadow: 0 4px #999; /* Add shadow */
    transition: 0.3s; /* Smooth transition for hover effects */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

button:active {
    background-color: #3e8e41; /* Even darker green when pressed */
    box-shadow: 0 2px #666; /* Adjust shadow on click */
    transform: translateY(2px); /* Move button slightly down when pressed */
}

h1, h2, h3 { 
font-family:Georgia, Times, serif; 
} 

/* Popup Styles */
.popup {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed; /* Change to fixed position */
    bottom: 20px; /* 20px from the bottom of the page */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center alignment adjustment */
    opacity: 0;
    transition: opacity 0.5s;
}

/* Popup Arrow */
/* .popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

/* Show the popup */
.show {
    visibility: visible;
    opacity: 1;
}

h2 { 
font-size:xx-large;
}
 
.site-header {
background-color:#2751ac;
width:100%;
padding:20px; 
overflow: auto;
color:#FFF;
    } 
 
     
.site-title { 
float:left; 
}
 
.site-navigation { 
 
float:right;
text-align:right;
margin:20px 50px 0px 0px;
} 
 
ul.nav-menu { 
list-style-type:none;
list-style:none;
}
ul.nav-menu li { 
display:inline;
padding-right:20px;
}
 
 
.site-header:after{ 
clear:both;
}
 
#main {
 
margin:0 auto; 
background-color:#FFF;
    } 
 
.content {
     
max-width:60%;
padding:30px;
margin:50px 0px 50px 0px;
font-size:18px;
}
 
.content p { 
margin:50px 20px 50px 20px; 
 
}
 
a.cta-button {
    background-color: green;
    padding: 20px 100px 20px 100px;
    color: #fff;
    text-decoration: none;
    font-size: xxx-large;
    border:2px solid #abfcab;
    border-radius:18px;
    
}
 
footer {
background-color:#2751ac;
width:100%;
padding:20px; 
overflow: auto;
color:#FFF;
    } 