name: Deploy Website
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
      uses: actions/checkout@v2

      - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

      - name: Install dependencies
      run: npm install

      - name: Build the project
      run: npm run build

      - name: Deploy to Server
      env:
        SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        ssh -i SSH_KEY ubuntu@dev.jesbudget.com << 'EOF'
          cd dev/JES
          git pull
          npm install
          make runServer
        EOF
